.dashboard {
  width: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;

  .button {
    width: 100px;
    height: 60px;
  }

  .tutorial {
    position: absolute;
    left: 300px;
    font-family: "Indie Flower", cursive;
    font-size: 2em;
  }

  .list {
    margin: 10px 0;
    .list-item {
      background-color: lighten(#104ed3, 50%);
      padding: 4px;
      cursor: pointer;
      margin: 4px;
      font-size: 1.4em;
      text-align: center;
      border-radius: 2px;

      &:hover {
        background-color: lighten(#104ed3, 40%);
      }

      &:active {
        background-color: lighten(#104ed3, 30%);
      }
    }

    height: 90vh;
    overflow-y: scroll;
  }

  .garden {
    width: 1200px;
    height: 700px;
    background: url("https://3.bp.blogspot.com/-N62mHp8yESc/WOugo5EK2-I/AAAAAAAAEBc/N2P0q8ubWqU8xnkk50IFs6V51KYkmBV0gCLcB/s1600/FoilageGrass_2.jpg")
      repeat center center fixed;
    margin: auto;
    border-radius: 5px;
    position: relative;
    overflow: hidden;

    img {
      width: auto;
      height: 120px;
      position: absolute;

      &:nth-child(even) {
        transform: rotateY(180deg);
      }
    }

    @media screen and (max-width: 1300px) {
      width: 100%;
    }
  }

  .delete-button {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
