// @import "../node_modules/bootstrap/scss/bootstrap.scss";

.login,
.register {
  width: 400px;
  margin: auto;
  margin-top: 100px;

  .input-container {
    margin-top: 20px;
  }

  .submit-button {
    margin-top: 20px;
    width: 100%;
  }

  .error {
    color: red;
    font-size: 0.8em;
  }

  .logo-container {
    // margin-left: 50px;
    width: 400px;
    height: auto;
  }

  .slogan {
    font-family: "Indie Flower", cursive;
    font-size: 2em;
    left: 70px;
    bottom: 45px;
    position: relative;
    transform: rotate(-5deg);
  }

  .createlink {
    color: #1518b6;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #225e62;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-left: 60px;
  }
}

.register {
  margin-top: 20px;
}

.chrome {
  height: "fit-content";
}
